
<footer class="page-footer font-small">
  <div class="footer-copyright text-left py-3">
	  <a style="background-color:rgba(0,0,0,0.5); padding:20px 5px; text-decoration:none;  " href="https://github.com/mrfab13">
    		<img src="https://cdn.discordapp.com/emojis/439086050741059585.gif?v=1"  width="50" height="50" alt="">  
			Vaughan Webb 2020
	  </a>
  </div>
</footer>
