<nav class="navbar navbar-dark bg-dark justify-content-between sticky-top">


	

		<% if (!currentUser){ %>
	
	<h1>
	<a href="/" style="text-decoration:none;">
		<img src="https://steamuserimages-a.akamaihd.net/ugc/1041967970788892315/7EC505B3DD706EEA47AFFA4B6613FE784F63476B/" width="90" height="90" alt="">
		Wallpaper Hub
	</a>
</h1>	
	
		<div>
			<a class="btn btn-lg btn-primary" href="/login">login</a>
			<a class="btn btn-lg btn-primary" href="/register">sign up</a>
		</div>

		<%  } else { %>
	
	<h1>
	<a href="/pics" style="text-decoration:none;">
		<img src="https://steamuserimages-a.akamaihd.net/ugc/1041967970788892315/7EC505B3DD706EEA47AFFA4B6613FE784F63476B/" width="90" height="90" alt="">
		Wallpaper Hub
	</a>
</h1>
	
		<div>
			<a class="btn btn-lg btn-primary disabled" href="#">signed in as <%= currentUser.username %> </a>
			<a class="btn btn-lg btn-primary" href="/logout">log out</a>
		</div>

		<%}%>
</nav>
											   
