<%- include("partials/header.ejs")%>

<h1> im reciving thedater</h1> 

<%= data %>

<P></P>
<P></P>

<%if(data === "bigchungus") { %>
	<p>good choice!</p>
<%} else {%>
	
		<p>bad choice!</p>

<%}%>


<%- include("partials/footer.ejs")%>