<%- include("partials/header.ejs")%>

<h1> big chungus gaming 420 69!</h1> 

<Li><a href="/register">Sign Up</a></Li>
<Li><a href="/login">login</a></Li>
<Li><a href="/logout">logout</a></Li>


<img src= "https://i.imgur.com/Fdb4h2r.jpg"></img>

<%- include("partials/footer.ejs")%>