body{
	background: darkgray;
	color: red;
}


.jumbotron {	
		
	background: url("https://c.wallhere.com/photos/11/a8/summer_dark_background_boobs_anime_girls_manga_beach_blue_night-1558599.jpg!d") no-repeat 50% 15%; 
  	background-size: cover;

}