body{
	background: darkgray;
	color: red;
}


.jumbotron {	
	background: url("https://c.wallhere.com/photos/54/48/dark_background_night_illustration_anime_anime_girls_boobs_ecchi_kimono-1564213.jpg!d") no-repeat 50% 30%; 
  	background-size: cover;
}

form {
   display:inline;
   margin:0;
   padding:0;
}




